body{

    margin: 0;
    padding: 0;
}
.main_rate{
    position: relative;
    width: 2560px;
    height: 2000px;
    margin: 0 auto;

    /* #FFFFFF */

    background: #ffffff;

}
.frame2104{
    width: 2560px;
    height: 1131px;
    margin: 0 auto;

}
.group1{
    position: relative;
    width: 1216px;
    height: 1031px;
    background-color: white;
    margin: 50px auto 0 ;
    font-size: 0;

}
.text2{
    position: relative;
    Width: 786px;
    Height: 66px;
    margin: 20px auto 0;

    font-family: 'Montserrat', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    text-align: center;

    color: #17304A;
}
/* H2 */


.text1{
    position: relative;
    width: 1216px;
    height: 55px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 55px;
    color: #17304A;
}
.red-text{
    color:#BD0231
}
.main-block{
    margin-top: 50px;
    width: 1216px;
    height: 840px;
    display: inline-block;

}

.block1 {
    display: inline-block;
    width: 278px;
    height: 736px;
    font-size: 26px;
    background-color: white;
    border: 1px solid #BBBBBB;
    vertical-align: top;

}

.block2{
    display: inline-block;
    width: 278px;
    height: 838px;
    font-size: 26px;
    margin-left: 32px;
    background-color: white;
    border: 1px solid #BBBBBB;
    vertical-align: top;
}

.img{
    margin:20px 20px 40px 20px;
}

.text-header{
    padding: 0;
    font-family: Montserrat, sans-serif;
    height: 74px;
    font-weight: 700;
    line-height: 37px;
    font-size: 26px;
    text-align: center;
    color: #BD0231;
}
.frame2103{
    margin: 50px 20px 0 ;
    width: 240px;
    height: 86px;
}
.frame191{
    margin: 51px 20px 0 ;
    width: 240px;
    height: 86px;
}
.frame191-1{
    margin: 51px 20px 0 ;
    width: 240px;
    height: 150px;
}
.frame191-2{
    margin: 51px 20px 0 ;
    width: 240px;
    height: 194px;
}
.artificial-padding{
    width: auto;
    height: 20px;
}
.changer15px{
    width: auto;
    height: 15px;
}
.simple-text{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    justify-content: space-between;
    margin: 0px auto 0;
    color: #17304A;
}
.bold-text__group{
    margin-top: 90px;
}
.bold-text{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;


    text-align: center;
}
.btn{

    background: #BD0231;
    /* Drop Shadow */

    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 157px;
    height: 62px;
    text-align: center;
    margin: 20px auto 0 ;
    cursor:pointer;

}
.btn:hover{
    opacity: 50%;
}
.block1 .btn{
    box-shadow:none;
}
.btn-text{

    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0;

    color: #FFFFFF;
}
.first-tag{
    margin-top: 162px;
}
.second-tag{
    margin-top: 98px;
}
.third-tag{
    margin-top: 54px;
}
@media (max-width: 2500px){
    .main_rate{
        width: 90%;
    }
    .frame2104{
        width: 100%;
    }
    .block1{
        display: inline-block;
    }
    .block2{
        display: inline-block;


    }
}

/*Для  статики, чтобы она соответствовала вёрстке в Chrome при ширине 1280px достаточно заменить соотвествующие свойста в основном файле css*/

@media (max-width: 1280px){

    .main_rate{
        width: 100%;
    }
    .frame2104{
        width: 100%;
    }
    .main-block{
        margin: 50px auto 0;
    }

}
/*остальные медиазапросы*/
@media (max-width: 1279px){

    .main_rate{
        width: 90%;
    }
    .frame2104{
        width: 100%;
    }
    .group1{
        width: 100%;
    }
    .text1{
        width: 80%;
        margin-bottom: 50px;
        font-size: 32px;
    }
    .text2{
        width: 80%;
        font-size: 14px;
        margin-bottom: 25px;
    }
    .main-block{
        width: 100%;
        text-align: center;
    }
}
    .block1{
        display: flow;
        margin: 5px auto;
    }
    .block2{
        display: flow;
        margin: 5px auto;
}


@media (max-width: 750px){

    .text1{
        font-size: 20px;
        line-height: 1.2em;
        height: auto;
        margin-bottom: 15px;
        align-items: center;
    }
    .text2{
        height: auto;
        margin-bottom: 0;
        align-items: center;
    }

}
@media (max-width: 300px){
    .block1{
        width: 90%;
    }
    .block2{
        width: 90%;
    }
    .img{
        width: 80%;
    }
    .text-header{
        font-size: 14px;
    }
    .frame2103{
        width: 90%;
        margin: auto;
    }
    .frame191{
        width: 90%;
        margin: auto;
    }
    .frame191-1{
        width: 90%;
        margin: auto;
    }
    .frame191-2{
        width: 90%;
        margin: auto;
    }


    .second-tag{
        margin-top: 170px;
    }
    .third-tag{
        margin-top: 254px;
    }
    .btn{
        width: 60%;
    }
}






